<h1>Modulo Administrador</h1>
<br/>
<%= link_to "Areas", areas_path %> <br />
<%= link_to "Carreras", majors_path %> <br />
<%= link_to "Cursos", courses_path %> <br />
Preguntas <br />
<%= link_to "Usuarios", "http://localhost:3000/users/index" %> <br />

