Durante tu servicio en Prep@net, tendras la oportunidad de compartir tus conocimientos dentro de las siguientes areas:

<br/>
<br/>

<table>
    <tr>
        <th>Ciencias Sociales</th>
        <th>Humanidades</th>
        <th>Informatica</th>
        <th>Ingles</th>
        <th>Letras</th>
        <th>Matematicas</th>
        <th>Ciencias Naturales</th>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Ciencias Sociales</li>
                <li>Administración</li>
            </ul>
        </td>
         <td>
            <ul>
                <li>Ética</li>
                <li>Filosofía</li>
                <li>Historia</li>
            </ul>
        </td>
         <td>
            <ul>
                <li>Informática</li>
            </ul>
        </td>
         <td>
            <ul>
                <li>Ingles</li>
            </ul>
        </td>
         <td>
            <ul>
                <li>Literatura</li>
                <li>Lectura</li>
                <li>Redacción</li>
            </ul>
        </td>
         <td>
            <ul>
                <li>Matemáticas</li>
            </ul>
        </td>
    
    <td>
            <ul>
                <li>Física</li>
                <li>Biología</li>
                <li>Química</li>
            </ul>
        </td>
    </tr> 
</table>
